In [2]:
import BM
import BMH
import KMP
import RK
import pandas as pd

In [3]:
K = [2, 4, 16, 32]
M = [2, 4, 6, 8, 10, 12, 14]

N = 1000

char = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t",
        "u", "v", "x", "w", "y", "z", "A", "B", "C", "D", "E", "F"]

In [4]:
import random

texts = []

for k in K:
    used_char = char[:k]
    for i in range(0,10):
        text = ""
        for k in range(0,1000):
            text += random.choice(used_char)
        texts.append(text)

#[0:9] - padr천es de K2
#[10:19] - padr천es de K4
#[20:29] - padr천es de K16
#[30:39] - padr천es de K32

In [5]:
duos = []

for m in M:
    for text in texts:
        pattern = text[len(text)-m:]
        #patterns.append(pattern)
        duos.append((text, pattern))

len(duos)
#print(duos[31])

#[0:9] --> k = 2, m = 2
#[10:19] --> k = 4, m = 2
#[20:29] --> k = 16, m = 2
#[30:39] --> k = 32, m = 2

#[40:49] --> k = 2, m = 4
#[50:59] --> k = 4, m = 4
#[60:69] --> k = 16, m = 4
#[70:79] --> k = 32, m = 4

#[80:89] --> k = 2, m = 6
#[90:99] --> k = 4, m = 6
#[100:109] --> k = 16, m = 6
#[110:119] --> k = 32, m = 6

#[120:129] --> k = 2, m = 8
#[130:139] --> k = 4, m = 8
#[140:149] --> k = 16, m = 8
#[150:159] --> k = 32, m = 8

#[160:169] --> k = 2, m = 10
#[170:179] --> k = 4, m = 10
#[180:189] --> k = 16, m = 10
#[190:199] --> k = 32, m = 10

#[200:209] --> k = 2, m = 12
#[210:219] --> k = 4, m = 12
#[220:229] --> k = 16, m = 12
#[230:239] --> k = 32, m = 12

#[240:249] --> k = 2, m = 14
#[250:259] --> k = 4, m = 14
#[260:269] --> k = 16, m = 14
#[270:279] --> k = 32, m = 14

280

In [7]:
BMH_data = []

val = 0
media = 0

for duo in duos:        
    media += BMH.boyer_moore_horspool_search(duo[0], duo[1])
    val += 1
    if val == 10:
        val = 0
        BMH_data.append(round(media/10000,2))
        media = 0

print(BMH_data)

[1.11, 0.73, 0.55, 0.53, 1.32, 0.52, 0.3, 0.27, 1.38, 0.46, 0.21, 0.19, 1.39, 0.43, 0.17, 0.15, 1.39, 0.42, 0.15, 0.13, 1.39, 0.41, 0.13, 0.11, 1.39, 0.41, 0.12, 0.11]

In [13]:
results = {"Algorithm":[], "K":[], "M":[], "Comparisons":[]}

ind = 0

for m in M:
    for k in K:
        results["Algorithm"].append("BMH")
        results["K"].append(k)
        results["M"].append(m)
        results["Comparisons"].append(BMH_data[ind])
        ind += 1

df = pd.DataFrame(results)
display(df)

   Algorithm   K   M  Comparisons
0        BMH   2   2         1.11
1        BMH   4   2         0.73
2        BMH  16   2         0.55
3        BMH  32   2         0.53
4        BMH   2   4         1.32
5        BMH   4   4         0.52
6        BMH  16   4         0.30
7        BMH  32   4         0.27
8        BMH   2   6         1.38
9        BMH   4   6         0.46
10       BMH  16   6         0.21
11       BMH  32   6         0.19
12       BMH   2   8         1.39
13       BMH   4   8         0.43
14       BMH  16   8         0.17
15       BMH  32   8         0.15
16       BMH   2  10         1.39
17       BMH   4  10         0.42
18       BMH  16  10         0.15
19       BMH  32  10         0.13
20       BMH   2  12         1.39
21       BMH   4  12         0.41
22       BMH  16  12         0.13
23       BMH  32  12         0.11
24       BMH   2  14         1.39
25       BMH   4  14         0.41
26       BMH  16  14         0.12
27       BMH  32  14         0.11

In [21]:
df[df["K"] == 2]

   Algorithm  K   M  Comparisons
0         BM  2   2         0.57
4         BM  2   4         0.52
8         BM  2   6         0.48
12        BM  2   8         0.43
16        BM  2  10         0.39
20        BM  2  12         0.36
24        BM  2  14         0.33

In [20]:
RK_data = []

val = 0
media = 0

for duo in duos:        
    media += RK.rabin_karp_search(duo[0], duo[1])[0]
    val += 1
    if val == 10:
        val = 0
        RK_data.append(round(media/10000,2))
        media = 0

print(RK_data)

[0.5, 0.12, 0.01, 0.01, 0.25, 0.02, 0.0, 0.0, 0.11, 0.01, 0.01, 0.01, 0.04, 0.01, 0.01, 0.01, 0.02, 0.01, 0.01, 0.01, 0.02, 0.01, 0.01, 0.01, 0.02, 0.01, 0.01, 0.01]

In [14]:
results = {"Algorithm":[], "K":[], "M":[], "Comparisons":[]}

ind = 0

for m in M:
    for k in K:
        results["Algorithm"].append("RK")
        results["K"].append(k)
        results["M"].append(m)
        results["Comparisons"].append(RK_data[ind])
        ind += 1

df = pd.DataFrame(results)
display(df)

   Algorithm   K   M  Comparisons
0         RK   2   2         0.50
1         RK   4   2         0.12
2         RK  16   2         0.01
3         RK  32   2         0.01
4         RK   2   4         0.25
5         RK   4   4         0.02
6         RK  16   4         0.00
7         RK  32   4         0.00
8         RK   2   6         0.11
9         RK   4   6         0.01
10        RK  16   6         0.01
11        RK  32   6         0.01
12        RK   2   8         0.04
13        RK   4   8         0.01
14        RK  16   8         0.01
15        RK  32   8         0.01
16        RK   2  10         0.02
17        RK   4  10         0.01
18        RK  16  10         0.01
19        RK  32  10         0.01
20        RK   2  12         0.02
21        RK   4  12         0.01
22        RK  16  12         0.01
23        RK  32  12         0.01
24        RK   2  14         0.02
25        RK   4  14         0.01
26        RK  16  14         0.01
27        RK  32  14         0.01

In [18]:
KMP_data = []

val = 0
media = 0

for duo in duos:        
    media += KMP.KMPSearch(duo[1], duo[0])
    val += 1
    if val == 10:
        val = 0
        KMP_data.append(round(media/10000,2))
        media = 0
        
print(KMP_data)

[1.05, 1.01, 1.0, 1.0, 1.02, 1.01, 1.0, 1.0, 1.06, 1.01, 1.0, 1.0, 1.02, 1.02, 1.0, 1.0, 1.05, 1.01, 1.0, 1.0, 1.03, 1.02, 1.0, 1.0, 1.04, 1.01, 1.0, 1.0]

In [15]:
results = {"Algorithm":[], "K":[], "M":[], "Comparisons":[]}

ind = 0

for m in M:
    for k in K:
        results["Algorithm"].append("KMP")
        results["K"].append(k)
        results["M"].append(m)
        results["Comparisons"].append(KMP_data[ind])
        ind += 1

df = pd.DataFrame(results)
display(df)

   Algorithm   K   M  Comparisons
0        KMP   2   2         1.05
1        KMP   4   2         1.01
2        KMP  16   2         1.00
3        KMP  32   2         1.00
4        KMP   2   4         1.02
5        KMP   4   4         1.01
6        KMP  16   4         1.00
7        KMP  32   4         1.00
8        KMP   2   6         1.06
9        KMP   4   6         1.01
10       KMP  16   6         1.00
11       KMP  32   6         1.00
12       KMP   2   8         1.02
13       KMP   4   8         1.02
14       KMP  16   8         1.00
15       KMP  32   8         1.00
16       KMP   2  10         1.05
17       KMP   4  10         1.01
18       KMP  16  10         1.00
19       KMP  32  10         1.00
20       KMP   2  12         1.03
21       KMP   4  12         1.02
22       KMP  16  12         1.00
23       KMP  32  12         1.00
24       KMP   2  14         1.04
25       KMP   4  14         1.01
26       KMP  16  14         1.00
27       KMP  32  14         1.00

In [10]:
BM_data = []

val = 0
media = 0

for duo in duos:        
    media += BM.string_search(duo[1], duo[0])[1]
    val += 1
    if val == 10:
        val = 0
        BM_data.append(round(media/10000,2))
        media = 0

print(BM_data)

[0.57, 0.2, 0.04, 0.02, 0.52, 0.15, 0.02, 0.01, 0.48, 0.12, 0.02, 0.01, 0.43, 0.11, 0.02, 0.01, 0.39, 0.1, 0.02, 0.01, 0.36, 0.1, 0.02, 0.01, 0.33, 0.1, 0.02, 0.02]

In [16]:
results = {"Algorithm":[], "K":[], "M":[], "Comparisons":[]}

ind = 0

for m in M:
    for k in K:
        results["Algorithm"].append("BM")
        results["K"].append(k)
        results["M"].append(m)
        results["Comparisons"].append(BM_data[ind])
        ind += 1

df = pd.DataFrame(results)
display(df)

   Algorithm   K   M  Comparisons
0         BM   2   2         0.57
1         BM   4   2         0.20
2         BM  16   2         0.04
3         BM  32   2         0.02
4         BM   2   4         0.52
5         BM   4   4         0.15
6         BM  16   4         0.02
7         BM  32   4         0.01
8         BM   2   6         0.48
9         BM   4   6         0.12
10        BM  16   6         0.02
11        BM  32   6         0.01
12        BM   2   8         0.43
13        BM   4   8         0.11
14        BM  16   8         0.02
15        BM  32   8         0.01
16        BM   2  10         0.39
17        BM   4  10         0.10
18        BM  16  10         0.02
19        BM  32  10         0.01
20        BM   2  12         0.36
21        BM   4  12         0.10
22        BM  16  12         0.02
23        BM  32  12         0.01
24        BM   2  14         0.33
25        BM   4  14         0.10
26        BM  16  14         0.02
27        BM  32  14         0.02

[0] --> k = 2, m = 2

[1] --> k = 4, m = 2

[2] --> k = 16, m = 2

[3] --> k = 32, m = 2

[4] --> k = 2, m = 4

[5] --> k = 4, m = 4

[6] --> k = 16, m = 4

[7] --> k = 32, m = 4

[8] --> k = 2, m = 6

[9] --> k = 4, m = 6

[10] --> k = 16, m = 6

[11] --> k = 32, m = 6

[12] --> k = 2, m = 8

[13] --> k = 4, m = 8

[14] --> k = 16, m = 8

[15] --> k = 32, m = 8

[16] --> k = 2, m = 10

[17] --> k = 4, m = 10

[18] --> k = 16, m = 10

[19] --> k = 32, m = 10

[20] --> k = 2, m = 12

[21] --> k = 4, m = 12

[22] --> k = 16, m = 12

[23] --> k = 32, m = 12

[24] --> k = 2, m = 14

[25] --> k = 4, m = 14

[26] --> k = 16, m = 14

[27] --> k = 32, m = 14